html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

body {
  background-color: rgba(248, 170, 236, 0.55);
}

label {
  float: right;
}
label.login-label {
  float: left;
}
#map-canvas {

  height: 86%;
  margin: 0;
  width: 100%;
  z-index: 0;
}

header {
  width: 100%;
  display: block;
  height: auto;
  height: 8%;
  overflow: hidden;
  border-bottom: 2px solid #E950F7;

}

.container {
  max-width: 70%;
  clear: both;
}


.loginimg {
width: 100%;
}
.container form {
/*max-width: 88%;*/
margin: 0 auto;
}

#form1 {
  max-width: 35%;
}

h1, h2, h3, strong, b, p, footer {
  font-family: arial, helvetica, san-serif;
}

h1, nav ul li a {
 color: rgb(231, 18, 240);
}

nav ul li a:hover {
  color: #ffffff;
}
hgroup.right {
float: right;
width: 17em;
margin: 2.7rem 0 0;
display: block;
height: auto;

}

hgroup h1 {
  width: auto;
}
h2.profile {
text-align: center;
margin-bottom: 3rem;
}

hgroup.left {
  float: left;
  width: 30rem;
  margin: 0rem auto 0 3rem;
}
nav ul li {
  display: inline;
  margin-right: 1rem;
  font-size: 1.9rem;
}

nav ul li a, .submenu li a {
  text-decoration: none; 
  margin: -2rem auto 3rem;

}


ul.submenu {
  text-align: center;
}

.submenu li {
  display: inline;
  margin-right: 2rem;
}

div.container.update {
  margin-top: 1rem;
  padding: 1rem;
}

div.container.update label {
  float: none;
}

footer {
  text-align: center;
  
}
.navbar {
  min-height: 40px;
}